
.About {
  background-image: url('https://i.pinimg.com/originals/26/ed/fe/26edfe7476f61c0afa0ad92574065225.gif');
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 140px 100px;
  height: 90%;
}

.Container{
  background-color: rgba(223, 209, 226, 0.623);
  width: 40%;
  border-radius: 12px;
  box-shadow: 5px 5px 7px rgb(119, 92, 118);
  padding: 40px 30px;
  flex-direction: column; 
}

.First{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habilities{
  font-size: 20px;
}

.AboutMe{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  font-weight: bold;
}

ion-icon{
  color: rgb(112, 7, 89);
  margin-right: 6px;
  font-weight: bold;
}

.infor{
  font-size: 15px;
  display: flex;
  margin: 5px;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.Cont{
  display: flex;
  flex-direction: column;
}

.LangTitle{
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
}

.Education{
  display: flex;
  justify-content: space-around;
  align-content: center;
  text-align: justify;
}

.date{
  font-weight: bold;
  margin: 10px 0px;
  font-size: 13px;
}

.title{
  color: rgb(112, 7, 89);
  font-size: 17px;
}

.pclass{
  font-size: 15px;
  margin: 5px 0px;
}

.Languages{
  margin: 20px 150px 40px 100px;
  width: 70%;
  display: flex;
  justify-content: space-around;
}


.languages{
  color: rgb(112, 7, 89);
  display: flex;
  flex-direction: row;
  font-size: 40px;
  justify-content: center;
  border-radius: 20px;
}

@media (max-width: 600px){
  .About{
    padding: 70px;
  }
  .Container{
    padding: 60px;
    width: 90%;
    height: 80%;
  }
  .infor{
    font-size: 15px;
  }
  .AboutMe{
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
  }
  .LangTitle{
    font-size: 30px;
    margin-top: 15px;
  }
  .Cont{
    justify-content: center;
    align-items: center;
  }
  .Education{
    text-align: center;
    flex-direction: column;
  }
  .title{
    margin-top: 3%;
    font-size: 18px;
  }
  .date, .pclass{
    font-size: 15px;
  }
  .languages{
    font-size: 30px;
  }
}

@media (min-width: 760px){
  .About{
    padding: 70px;
  }
  .Container{
    padding: 60px;
    width: 90%;
    height: 80%;
  }
  .infor{
    font-size: 18px;
  }
  .AboutMe{
    font-size: 18px;
    text-align: center;
  }
  .LangTitle{
    font-size: 40px;
    margin-top: 30px;
  }
  .Cont{
    justify-content: center;
    align-items: center;
  }
  .Education{
    text-align: center;
    flex-direction: column;
  }
  .title{
    margin-top: 3%;
    font-size: 23px;
  }
  .date, .pclass{
    font-size: 18px;
  }
  .languages{
    font-size: 40px;
  }
}

@media (min-width: 1300px){
  .About{
    padding: 40px;
  }
  .Container{
    padding: 10px;
    width: 40%;
    height: 40%;
  }
  .AboutMe{
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
  }
  .infor{
    font-size: 15px;
  }
  .title{
    font-size: 20px;
    margin-top: 1%;
  }
  .LangTitle{
    font-size: 28px;
    margin-top: 20px;
  }
  .date, .pclass{
    font-size: 15px;
  }
  .languages{
    font-size: 28px;
  }
}