.Hero {
  background-image: url('https://i.pinimg.com/originals/26/ed/fe/26edfe7476f61c0afa0ad92574065225.gif');
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card {
  display: flex;
  flex-direction: column;
  margin: 5%;
  padding: 2%;
  align-items: center;
  overflow: hidden;
  text-align: center;
  border-radius: 12px;
  box-shadow: 5px 5px 7px rgb(119, 92, 118);
  color: #03031f;
  background-color: rgba(223, 209, 226, 0.795);
}

.DivRedes{
  display: flex;
  flex-direction: row;
}

.Navbar{
  width: 90%;
  height: 5%;
  justify-content: space-between;
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list{
  text-decoration: none;
  color: rgb(84, 83, 85);
}

ul{
  text-align: justify;
  display: flex;
  padding: 0;
  list-style: none;
}

li{
  font-size: 18px;
  font-weight: bold;
}

.Name{
  width: 100px;
}

.Container{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15% 5% 8%;
}

h1{
  font-size: 20px;
  margin-bottom: 20px;
}

.title{
  margin-top: 20px;
}

.wd{
  font-size: 15px;
  display: block;
  font-family: monospace;
  white-space: nowrap; /* los espacios en blanco no rompen la línea */        
  width: 63%; /* el ancho será el número de caracteres que tiene nuestra línea */
  animation: escribiendo 3s steps(20);          
  overflow: hidden;
  animation: 1s parpadeo-cursor infinite;
}
@keyframes escribiendo {
  from {
    width: 0;
  }
}

@keyframes parpadeo-cursor {
  50% {
    opacity: 0;
  }
}

.description{
  width: 80%;
  font-size: 16px;
  color: rgb(84, 83, 85);
  text-align: justify;
}

.Button{
  margin-top: 30px;
  width: 190px;
  height: 90px;
  border-radius: 10px;
  font-size: 20px;
  color: rgba(44, 34, 34, 0.39);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2b0226;
}

.ahref{
  text-decoration: none;
  color: gray;
}

.Button:hover{
  transform: translateY(-10px);
  background-color:rgb(134, 55, 108);
  color: black;
  transition: all 0.40s;
}

a:hover{
  color: black;
}


.a{
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.a:hover{
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.icon:hover{
  transform: translateY(-10px);
  transition: all 0.40s;
}

.div{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.ImagenProfile{
  width: 220px;
  margin-left: 70px;
  border: 8px solid rgb(134, 55, 108);
}

.Redes{
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin-top: 140px;
  color: rgb(112, 7, 89);
}

.list{
  text-decoration: none;
  color: rgb(84, 83, 85);
}

.list:hover{
  color:rgb(134, 55, 108);
  zoom: 1.05;
}

span{
  margin-left: 13px;
}

.languages{
  display: flex;
  flex-direction: row;
  justify-content: end;
  color: rgb(112, 7, 89);
  font-size: 30px;
  margin-bottom: 0.5%;
}

/*  MEDIA QUERYS */

@media (max-width: 600px){
  .Card{
    width: 90%;
    height: 90%;
    padding: 5%;
  }
  .Container{
    flex-direction: column-reverse;
    align-items: start;
    margin-left: 10px;
    padding: 0;
  }
  .ImagenProfile{
    margin: 35px 0px;
    width: 200px;
    height: 240px;
  }
  .Navbar{
    flex-direction: row-reverse;
    width: 90%;
    justify-content: space-between;
  }
  .wd{
    border-right: .10em solid #18BDEC;
    animation: blink 1s steps(1) ;
    white-space: nowrap;
    animation: typing 1s steps(20) 1s 1 normal both, blink 1s steps(1) infinite;
  }
  
  @keyframes blink {
    40% {
      border-color: transparent;
    }
  }
  
  @keyframes typing {
    from {
      width: 0%;
    }
    to {
      width: 57%;
    }
  }
  ul{
    flex-direction: column;
    margin-right: 0px;
  } 
  .list{
    align-items: center;
    font-size: 13px; 
    margin-left: 0px;
    text-align: justify;
 }
  .div{
    text-align:left;
    width: 100%;
    margin-top: 5px;
    align-items: start;
  }
  .title{
    font-size: 20px;
  }
  .description{
    font-size: 15px;
    font-weight: normal;
    text-align: justify;
  }
  .Name{
    height: 70px;
    width: 90px;
  }
  .a{
    font-size: 25px;
  }
  .Redes{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    flex-direction: column;
  }
  .icon{
    font-size: 25px;
  }
  .Button{
    height: 40px;
    width: 120px;
    font-size: 13px;
    margin-top: 10px;
  }
  .languages{
    margin-top: 25px;
  }
}

@media (min-width: 600px) and (max-width: 750px){
  .Card{
    width: 90%;
  }
  .Navbar{
    width: 100%;
    justify-content: space-around;
  }
  .Container{
    padding: 0 5% 0 5%;
  }
  .Name{
    width: 120px;
  }
  .ImagenProfile{
    width: 200px;
  }
  .div{
    margin-top: 30px;
    font-size: 15px;
  }
  .wd{
    border-right: .10em solid #18BDEC;
    animation: blink 1s steps(1) ;
    white-space: nowrap;
    animation: typing 1s steps(20) 1s 1 normal both, blink 1s steps(1) infinite;
  }
  
  @keyframes blink {
    40% {
      border-color: transparent;
    }
  }
  
  @keyframes typing {
    from {
      width: 0%;
    }
    to {
      width: 94%;
    }
  }
  .description{
    width: auto;
    font-size: 15px;
    
    font-weight: 500;
  }
  ul{
    padding: 0;
    text-align: justify;
  }
  li{
    margin: 5px;
  }
  .list{
    justify-content: space-around;
  }
  .Button{
    margin-top: 30px;
  }.icon{
    font-size: 30px;
  }
  .Redes{
    font-size: 30px;
    margin-top: 60px;
  }
  .Button{
    margin-top: 60px;
    font-size: 15px;
    width: 120px;
    height: 40px;
  }
  .languages{
    margin-top: 30px;
  }
}

@media (min-width: 750px) and (max-width: 900px){
  .Card{
    justify-content: center;
    width: 90%;
  }
  .Navbar{
    width: 70%;
    justify-content: space-between;
  }
  ul{
    padding: 0;
    text-align: justify;
  }
  li{
    margin: 10px;
  }
  .list{
    justify-content: space-around;
  }
  .wd{
    border-right: .10em solid #18BDEC;
    animation: blink 1s steps(1) ;
    white-space: nowrap;
    animation: typing 1s steps(20) 1s 1 normal both, blink 1s steps(1) infinite;
  }
  
  @keyframes blink {
    40% {
      border-color: transparent;
    }
  }
  
  @keyframes typing {
    from {
      width: 0%;
    }
    to {
      width: 78%;
    }
  }
  .languages{
    margin-bottom: 0;
  }
}

@media (min-width: 900px) and (max-width: 1200px){
  .Card{
    justify-content: space-between;
    width: 100%;
  }
  .Navbar{
    width: 90%;
    justify-content: space-between;
  }
  ul{
    padding: 0;
    text-align: justify;
  }
  li{
    margin: 10px;
  }
  .list{
    justify-content: space-around;
  }
  .wd{
    border-right: .10em solid #18BDEC;
    animation: blink 1s steps(1) ;
    white-space: nowrap;
    animation: typing 1s steps(20) 1s 1 normal both, blink 1s steps(1) infinite;
    font-size: 19px;
  }
  
  @keyframes blink {
    40% {
      border-color: transparent;
    }
  }
  
  @keyframes typing {
    from {
      width: 0%;
    }
    to {
      width: 51%;
    }
  }
  .languages{
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1500px){
  .Card{
    justify-content: space-around;
    width: 60%;
    height: 70%;
  }
  .Navbar{
    width: 70%;
    height: 20%;
    justify-content: space-between;
  }
  ul{
    padding: 0;
    text-align: justify;
  }
  li{
    font-size: 17px;
    margin: 10px;
  }
  .list{
    justify-content: space-around;
  }
  .Name{
    width: 130px;
  }
  .ImagenProfile{
    height: 200px;
    width: 200px;
    margin: 15px;
  }
  .Container{
    height: 50%;
    padding: 0 5% 0 5%;
  }
  .DivRedes{
    height: 65%;
    align-items: center;
  }
  .div{
    justify-content: center;
    font-size: 18px;
    width: 50%;
  }
  .description{
    width: 80%;
    font-size: 23px;
  } 
  .Redes{
    margin-bottom: 25%;
    font-size: 25px;
  }
  .Button{
    margin-top: 30px;
    width: 100px;
    
    height: 40px;
    font-size: 18px;
  }
  .icon{
    font-size: 30px;
  }
  .wd{
    font-size: 18px;
    border-right: .10em solid #18BDEC;
    animation: blink 1s steps(1) ;
    white-space: nowrap;
    animation: typing 1s steps(20) 1s 1 normal both, blink 1s steps(1) infinite;
  }
  
  @keyframes blink {
    40% {
      border-color: transparent;
    }
  }
  
  @keyframes typing {
    from {
      width: 0%;
    }
    to {
      width: 45%;
    }
  }
  .languages{
    margin-top: 0px;
  }
}

@media (min-width: 1500px) and (max-width: 1800px){
  .Card{
    justify-content: space-between;
    width: 70%;
    height: 80%;
  }
  .Navbar{
    width: 90%;
    height: 5%;
    justify-content: space-between;
  }
  ul{
    padding: 0;
    text-align: justify;
  }
  li{
    margin: 10px;
  }
  .list{
    justify-content: space-around;
  }
  .Name{
    width: 130px;
  }
  .ImagenProfile{
    height: 300px;
    width: 300px;
    margin: 15px;
  }
  .Container{
    padding: 10% 5% 0 5%;
  }
  li{
    font-size: 20px;
  }
  .div{
    width: 50%;
  }
  .description{
    width: 80%;
    font-size: 19px;
  } 
  .Redes{
    margin-top: 20%;
    font-size: 40px;
  }
  .Button{
    margin-top: 60px;
    width: 150px;
    height: 60px;
    font-size: 18px;
  }
  .icon{
    font-size: 35px;
  }
  .wd{
    font-size: 18px;
    border-right: .10em solid #18BDEC;
    animation: blink 1s steps(1) ;
    white-space: nowrap;
    animation: typing 1s steps(20) 1s 1 normal both, blink 1s steps(1) infinite;
  }
  @keyframes blink {
    40% {
      border-color: transparent;
    }
  }
  
  @keyframes typing {
    from {
      width: 0%;
    }
    to {
      width: 30%;
    }
  }
}

@media (min-width: 1800px){
  .Card{
    justify-content: space-between;
    width: 60%;
    height: 80%;
  }
  .Navbar{
    width: 90%;
    height: 5%;
    justify-content: space-between;
  }
  ul{
    padding: 0;
    text-align: justify;
  }
  li{
    margin: 10px;
  }
  .list{
    justify-content: space-around;
  }
  .Name{
    width: 130px;
  }
  .ImagenProfile{
    height: 300px;
    width: 300px;
    margin: 15px;
  }
  .Container{
    padding: 0 5% 0 5%;
  }
  li{
    font-size: 20px;
  }
  .div{
    width: 50%;
  }
  .description{
    width: 80%;
    font-size: 19px;
  } 
  .Redes{
    margin-top: 30px;
    font-size: 35px;
  }
  .Button{
    margin-top: 60px;
    width: 150px;
    height: 50px;
    font-size: 18px;
  }
  .icon{
    font-size: 35px;
  }
  .wd{
    border-right: .10em solid #18BDEC;
    animation: blink 1s steps(1) ;
    white-space: nowrap;
    animation: typing 1s steps(20) 1s 1 normal both, blink 1s steps(1) infinite;
    font-size: 20px;
  }
  
  @keyframes blink {
    40% {
      border-color: transparent;
    }
  }
  
  @keyframes typing {
    from {
      width: 0%;
    }
    to {
      width: 35%;
    }
  }
  .languages{
    margin-bottom: 0;
  }
}